{{#if (alreadyInCart cartIds productId)}}
  <a href="/cart#product{{product.id}}" type="submit" class="btn btn-success">View in Cart</a>
{{else}}
  <form action="/cart" method="post">
    <input type="hidden" name="id" value="{{ product.id }}">
    <button type="submit" class="btn btn-primary">+ Cart</button>
  </form>
{{/if}}
