<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      {{title}}
    </a>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li><p class="navbar-text navbar-right navbar-padding"> <a href="/products"><span class="glyphicon glyphicon-th"></span></a> </p>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><p class="navbar-text navbar-right navbar-padding"> <a href="/cart"><span class="glyphicon glyphicon-shopping-cart">({{cart_count}})</span></a> </p>
    </li>
  </ul>




</div>

</nav>
