<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      {{title}}
    </a>
  </div>



  <ul class="nav navbar-nav navbar-right">
    <li><p class="navbar-text navbar-right navbar-padding"> <a href="/products">Products</a> </p>
    </li>
  </ul>




</div>

</nav>
