<div class="jumbotron">
  <h1>Congrats you bought some super cool stuff!!!!</h1>
  <p>If you need more amazing and fantastic things, please visit us again!</p>
  <p><a class="btn btn-primary" href="/products" role="button">back to products</a></p>
</div>
