<nav class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/products">Mimir's Market<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span></a>
          <ul class="dropdown-menu">
            <!-- put cart items here later -->
            {{#each products as |p|}}
            <li>> {{p.name}}</li>
            <li>${{p.price}}</li>
            <li><hr></li>
            {{/each}}
            <li><hr></li>
            <li><a href="/cart">Checkout</a></li>
          </ul>
        </li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
    <!--  /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
