<!DOCTYPE html>
<html>
<head>
	<title>Mimir's Market</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script
  	src="http://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src='/scripts/script.js'></script>
</head>
<body>
	<header>
		<nav class='navbar navbar-inverse'>
			<h1 class='navbar-left'><a href='/'>Mimir's Market</a></h1>
			<div class="btn-group" style='float:right;'>
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style='float:right;'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span style="font-size:3em;" class="glyphicon glyphicon-shopping-cart"><span style='font-size:.5em;'>({{length}})</span></span></a>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{{#each cartItems as |item|}}
			    	<a class="dropdown-item" href="/products/{{item.productId}}">
							<li>{{item.name}}</li>
						</a>
					{{/each}}
					<a href='/cart'>
						<li>Checkout</li>
					</a>
			  </div>
			</div>
			<span class="glyphicon glyphicon-search" style="font-size:3em;float:right;"></span>
		</nav>
	</header>

	<main class="container">
		{{{body}}}
	</main>
</body>
</html>
