<div class='container'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <form action='/admin' method='post'>
        <h1>Administrator Login</h1>
        <input type='text' class='form-control' name='name'>
        <input type='password' class='form-control' name='pass'>
        <input type='submit' value='Login' class='btn btn-primary'>
      </form>
    </div>
  </div>
</div>
