<br /><br />

<div class="row">
  <div class="jumbotron landing-header-bg">
    <h1>Mimir's Market</h1>
    <p class="lead">Welcome to my market, search for and purchase godly products at will.</p>
    <p><a class="btn btn-lg btn-success" href="/products" role="button">Enter the marketplace</a></p>
  </div>
</div>

<footer class="footer landing-page-footer">
  <p class="text-center">&copy; 2017 Andrew Senner</p>
</footer>
