/* navbar styles */
.navbar {
  margin-bottom:0;
  background: #0B3948;
  color:#fff;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.banner {
  background-color: #C6D8D3;
  padding-top: 75px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ACB0BD;
}

.user-profile {
  height: 150px;
  width: 150px;
  position: absolute;
  border: 1px solid #ACB0BD;
}

.index-img {
  width:auto;
}
