
body {
  padding: 100px 0 50px 0;
}

nav {
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.navbar-brand {
  font-size: 24px;
}

.main-image {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.card-title {
  font-size: 20px;
}
.thumb-height {
  height:450px;
}
.gallery-image {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.navbar-nav {
  height: 60px;
}

.nav-image {
  width: 40px;
  height: 40px;
}

.checkout-item {
  position: relative;
  border: 1px solid #ddd;
  height: 140px;
  border-radius: 5px;
  padding: 20px 20px;
}

.checkout-image {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
  object-fit: cover;
}

.inline {
  display: inline-block;
}

.checkout-desc {
  font-size: 14px;
  display: inline-block;
  margin-left: 166px;
}

#total {
  display: inline-block;
  margin-left: 186px;
  font-weight: 800;
}

.bigger {
  font-size: 1.5rem;
}
