<h1>Thank you for your order!</h1>
<form action="/products" method="get"><button class="btn btn-primary" type="submit">Return to Main Page</button></form>
<h1>Order: </h1><br>
<pre>{{newOrder}}</pre>
  <h1>Order Items: </h1><br>

<pre>{{orderItems}}</pre>
