<header class="page-header">
  <h1>Categories</h1>
</header>


{{#if categories.length }} {{#each categories as |category| }}
<div class="col-sm-6 col-md-4 col-lg-3">
  <article class="panel panel-default">
    <section class="panel-body">
      <a href="{{ categoryPath category.id }}">
        <h4>
          {{ category.name }}
        </h4>
      </a>
      <h5>
        {{ category.Products.length }} items
      </h5>
  </article>
</div>
{{/each }} {{else }}
<p class="text-danger">No categories</p>
{{/if }}
