<header class="page-header">
  <h1>{{ category.name }}</h1>
  Items: {{ category.Products.length }}
</header>

{{#if category.Products}}
<h2>Products</h2>
{{#each category.Products as |product| }} {{> shared/_product product=product }} {{/each }} {{else }}
<p class="text-danger">No products in this category. Try another.</p>
{{/if}}
