<header class="page-header">
  <h1>Cart</h1>
</header>
{{cart}}
<div class="panel panel-primary">
  <div class="panel-body">
    {{#each cart as |item|}}
    <div class="col-xs-12">
      {{item.name}}
    </div>
    {{/each}}
    <!--checkout section-->
    <div class="col-xs-12">
      <p>Total:$1000</p>
      <button>Clear Cart</button> 
      <button type='submit'>Checkout</button>
    </div>
  </div>
