<h1>Please Complete Payment</h1>
<form action="/checkout/charges" method="post">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_bKAXqAvZr4kpNALsTaef4eD7"
    data-amount="100"
    data-name="Stripe Node Test"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"></script>
</form>
