body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.well h3 {
	margin-top: 0;
}

.mimir-bg {
	background: url('../../images/landing_bg.jpg');
	background-size: cover;
	color: white;
}
