@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Ubuntu+Mono|Pacifico');

html {
	height: 100%;
}

body {
	font: 14px Ubuntu, "Lucida Grande", Helvetica, Arial, sans-serif;
	min-height: 100%;
}

a.navbar-brand {
	margin-left: 0;
	padding: 0 0 0 2em;
}

.navbar-brand h1 {
	margin: .25em 0 0 0;
	font-family: Pacifico;
}

body.page-bg {
	background: rgb(0, 0, 0); /* Old browsers */
	background: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 1) 0px,
		rgba(15, 15, 15, 1) 50px,
		rgba(25, 25, 25, 1) 1080px
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		top,
		rgba(0, 0, 0, 1) 0px,
		rgba(15, 15, 15, 1) 50px,
		rgba(25, 25, 25, 1) 1080px
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 0px,
		rgba(15, 15, 15, 1) 50px,
		rgba(25, 25, 25, 1) 1080px
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#000000',
			endColorstr='#383838',
			GradientType=0
		); /* IE6-9 */
	background: url('../../images/page-bg.jpg') no-repeat fixed center;
	background-size: cover;
}

.page-nav {
	border-bottom: 1px solid #444;
}

.page-nav-container {
	z-index: 1;
	position: fixed;
	height: 65px;
	left: 0;
	right: 0;
	background-color: #333;
	box-shadow: 0 1px 2px #111;
}

.page-container {
	min-height: 100vh;
	min-width: 1280px;
	z-index: 0;
}

.page-footer {
	z-index: -2;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 -1px 2px #222;
	border-top: 1px solid #444;
	background-color: #222;
	height: 45px;
}

.well h3 {
	margin-top: 0;
}

@keyframes slide-in {
	0% {
		top: -500px;
		opacity: 0;
	}
	100% {
		top: 25px;
		opacity: 1;
	}
}

.refine-well {
	animation-name: slide-in;
	animation-duration: .5s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-play-state: running;

	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	position: absolute;
	max-width: 50%;
	top: 25px;
	left: 25%;
	color: #eee;
	border: 1px solid #666;
	background: url('../../images/refine-bg.png');
	background-size: 15%;
	box-shadow: 0 4px 8px #111;
}

@media (max-width: 1540px) {
	.refine-well {
		max-width: 70%;
		left: 15%;
	}
}

/*** LANDING PAGE ***/
.landing-page-bg {
	background: url('../../images/landing-page-bg.jpg');
	background-position: center top;
	background-color: black;
	background-size: 50%;
	background-repeat: no-repeat;
}

.landing-header-bg {
	border-radius: 2em !important;
	border: 1px solid #333;
	box-shadow: 0 4px 6px #000;
	background: url('../../images/landing-header-bg.jpg');
	background-size: cover;
	color: #eee;
}

.landing-page-footer {
	box-shadow: 0 -12px 20px #000;
	background-color: #000;
	color: #ccc;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

/*** PRODUCTS PAGES ***/
.products-container {
	min-height: 100vh;
	background: rgba(175, 175, 175, 1);
	box-shadow: 0px 0 30px #000;
}
.products-container ol {
	margin: 250px 1em 1em 1em;
}

.no-refine-crumbs ol {
	margin-top: 80px;
}

.product-view {
	padding: 0 2em;
}
.product-view .panel {
	box-shadow: 0 1px 2px #555;
}

a.product {
	margin-bottom: 0;
}

div.product {
	background-color: #fff;
	box-shadow: 0 1px 2px #444;
	padding: 4px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

.product-rating {
	font-size: 200%;
	color: gold;
}

.product h4 {
	overflow-x: hidden;
	text-overflow: ellipsis;
}

p.product-price {
	font-size: 200%;
}
.product-carousel {
	border-radius: 3px;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 2px #555;
	background-color: #ddd;
}

.related-products-row {
	min-height: 520px;
}

.related-products .page-header {
	margin-top: 0;
}

.carousel-product-group {
	margin-top: 1em;
}

.carousel-indicators li {
	background-color: #999;
	/*background-color: rgba(70, 70, 70, .25);*/
}

.carousel-indicators .active {
	background-color: #555;
}

hr.product-divider {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#add-to-cart-form div.form-group {
	max-width: 90px;
	padding-left: 0;
	padding-right: .15em;
}

.update-quantity-form div.form-group {
	max-width: 105px;
	padding-left: 0;
	padding-right: .15em;
}

ul.pagination-container li.active span {
	z-index: 0;
}

p.cart-product-price {
	font-size: 200%;
}

.billing-info-container {
	padding-left: 2em;
}

.stripe-well {
	margin-top: 6em;
}

.stripe-well img {
	margin-bottom: 2em;
}
