
<div class="well">
  <h3 class="text-center">Refine your results</h3>
  <div class="row">
  {{>_search}}
  </div>
  <div class="row">
  {{>_filter categories=categories}}
  </div>
  <div class="row">
  {{>_sort}}
  </div>
</div>


<header class="page-header">
  <h1>Products</h1>
  <a href="/products/new" class="btn btn-primary">+ New Product</a>
</header>




{{#if products.length }}

    {{#each products as |productGroup| }}
      {{#each productGroup as |product|}}
        <div class="row">
          <div class="col-xs-4">
            <a href="#" class="thumbnail">
              <img data-src="{{product.img}}" alt="...">
            </a>
            <div class="caption">
              <h3>{{product.title}}</h3>
              <p>{{product.description}}</p>
              <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a></p>
            </div>
          </div>
          
        </div>
      {{/each}}
    {{/each }}


{{else }}
  <p class="text-danger">No products</p>
{{/if }}
