<header class="page-header">
  <h1>Mimir's Market</h1>
</header>

<div class="panel panel-primary">
  <div class="panel-heading">
    <form style="margin: 10px;" action='/products/search' method='POST' class="form-inline">
      <div class="form-group">
        Search: <input class='form-control' type='text' placeholder="search" name='search'>
        <button class="btn btn-info">GO!</button>
      </div>
    </form>
    <form method="POST" action="/products/sort" style="margin: 10px;" class="form-inline sort-select">
      <div class="form-group">
        Sort By:
        <select class="form-control" name="sortOption">
          <option value="nameA">Name Ascending</option>
          <option value="nameD">Name Descending</option>
          <option value="priceA">Price Ascending</option>
          <option value="priceD">Price Descending</option>
          <option value="dateD">Newest First</option>
          <option value="dateA">Oldest First</option>
        </select>
      </div>
      <button class="btn btn-info">GO!</button>
    </form>
  </div>
  <div class="panel-body">
    {{#each products as |prod|}}
    <div style="height: 600px; border: 1px solid black;" class="col-xs-4">
      <img style="width: 100%;" src="http://4.bp.blogspot.com/-1PPIpuTPnPY/UCudijf1DPI/AAAAAAAABgY/Ohzq0co9uyk/s1600/generic.jpg">
      <h3>${{prod.price}}</h3>
      <h3><a href="/products/show/{{prod.id}}">{{prod.name}}</a></h3>
      <h5>{{prod.description}}</h5>
      <button class="btn btn-primary">Add to Cart</button>
    </div>
    {{/each}}
  </div>

</div>
