<div class="row products-container">
  <script src="/scripts/pagination.js"></script>
  <!-- <header class="page-header">
    <h1>Products</h1>
    <a href="/products/new" class="btn btn-primary">+ New Product</a>
  </header> -->
  {{#if crumbs}}
    {{breadcrumbs crumbs}}
  {{/if}}
  <div id="products-list" class="col-xs-12 products-list">
    {{#if paginationData }}
      {{paginate paginationData}}
    {{/if}}
    {{#if products.length }}
      {{#each products as |productGroup| }}
        <div class="row">
        {{#each productGroup as |product|}}
          {{>_product product=product}}
        {{/each}}
        </div>
      {{/each }}
    {{else }}
      <p class="text-danger">No products</p>
    {{/if }}
		{{#if paginationData }}
			{{paginate paginationData}}
		{{/if}}
  </div>
</div>
