<div class="row products-container">
  <!-- <header class="page-header">
    <h1>Products</h1>
    <a href="/products/new" class="btn btn-primary">+ New Product</a>
  </header> -->
  <div class="col-xs-12 products-list">
    {{#if products.length }}
      {{#each products as |productGroup| }}
        <div class="row">
        {{#each productGroup as |product|}}
          {{>_product product=product}}
        {{/each}}
        </div>
      {{/each }}
    {{else }}
      <p class="text-danger">No products</p>
    {{/if }}
  </div>
</div>
