<header class="page-header">
  <h1>{{ product.name }}</h1>
  Category: <a href="{{ categoryPath product.Category.id }}">{{ product.Category.name }}</a>
</header>

<div class="panel panel-primary">
  <div class="panel-body">
    <p>{{ product.description}}</p>
    {{> shared/_addCart product=product }}
  </div>
</div>
{{#if product.Category.Products}}
<h2>Related Products</h2>
{{#each product.Category.Products as |product| }} {{> shared/_product product=product }} {{/each }} {{/if}}
